<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js"></script>
    <script src="/js/login.js"></script>
</head>

<body>
    <header>
        <div class="logoDiv">
            <a class="logoa" href="/"><img src="/assets/logoblanco.png" href="/a" alt=""></a>
        </div>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/catalogue">Obras</a>
            <a href="/reserve">Reserva</a>
            <a href="/register">Registro</a>
            <a id="loginLink" class="login-link" href="/login">Inicio Sesión</a>
            <a id="logoutLink" class="logout-link" href="/" onclick="logout()">Cerrar Sesión</a>
        </div>
        <span style="font-size:30px;position: absolute;right: 15px;cursor:pointer" onclick="openNav()"><img
                src="/assets/iconomenu.png" alt=""></span>
    </header>

    <video class="trailerVideo" autoplay muted>
        <source src="/videos/trailer1.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="obrasTittleDiv">
        <h1>Obras Destacadas</h1>
    </div>

    <div id="obrasDiv">

    </div>
    <footer>
        <div class="left_column">
            <img src="/assets/logoblanco.png" alt="" class="logo_footer">
        </div>

        <div class="center_column">
            <h2>Contactanos</h2>
            <div class="contact">
                <div>
                    <img src="/assets/Phone-handset.png" alt="" class="icon">
                    <p class="txt">+34 976 459 12 92</p>
                </div>
                <div><img src="/assets/correo-electronico.png" alt="" class="icon">
                    <p class="email_txt">teatralis@gmail.com</p>
                </div>
                <div><img src="/assets/pasador-de-ubicacion.png" alt="" class="icon">
                    <p class="txt">C/</p>
                </div>
            </div>
        </div>

        <div class="right_column">
            <div class="socials">
                <img src="/assets/logotipo-de-instagram.png" alt="">
                <img src="/assets/gorjeo.png" alt="">
                <img src="/assets/facebook.png" alt="">
            </div>
        </div>
    </footer>
</body>


</html>