<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js"></script>
</head>

<body>
    <header>
        <div class="logoDiv">
            <a class="logoa" href="/"><img src="/assets/logoblanco.png" href="/a" alt=""></a>
        </div>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">About</a>
            <a href="/reserve">Reserva</a>
            <a href="/register">Registro</a>
            <a href="#">Contact</a>
        </div>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()"><img src="/assets/iconomenu.png" alt=""></span>
    </header>
</body>

</html>